<div class="nav-app">
    <ul class="nav nav-tabs ">
        <li role="presentation" class="app-icon">
            <img src="{{ asset('bundles/flowercore/images/icons/GroupMessage-100.png') }}">
        </li>
        <li role="presentation" {% if app_campaignmail is defined %}class="active"{% endif %}>
            <a href="{{ path('campaignmail') }}">{{ 'CampaignMail'|trans({},'CampaignMail')|title }}</a>
        </li>
        <li role="presentation" {% if app_contactlist is defined %}class="active"{% endif %}>
            <a href="{{ path('contactlist') }}">{{ 'contact lists'|trans|title }}</a>
        </li>
        <li role="presentation" {% if app_mailtemplate is defined %}class="active"{% endif %}>
            <a href="{{ path('mailtemplate') }}"> {{ 'mail templates'|trans|title }}</a>
        </li>
        <li role="presentation" {% if app_report is defined %}class="active"{% endif %}>
            <a href="{{ path('campaignmail_report') }}"> {{ 'reports'|trans|title }}</a>
        </li>
    </ul>
</div>
