{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'MailTemplate'}, 'MailTemplate') }} - {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/flowermarketing/css/style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block app_menu %}
    {{ include("FlowerMarketingBundle::appnav-campaignmail.html.twig", {'app_mailtemplate':true}) }}
{% endblock %}

{% block body %}
    <style>
        .placeholder {
            min-height: 50px;
            border: 3px dotted lightgray;
        }

        .placeholder:hover {
            border: 3px dotted lightcoral;
            cursor: pointer;
        }

        .placeholder.active {
            border: 3px dotted rgb(245, 67, 67);
        }

        .editable {
            min-height: 50px;
            border: 3px dotted transparent;
        }

        .editable.active {
            border: 3px dotted lightblue;
        }

        .editable:hover {
            border: 3px dotted lightblue;
        }

    </style>
    <section class="content-header">
        <h1>
            {{ 'editor'|title }}
        </h1>
    </section>
    <section class="content" multi-app="templateBuilder">

        <div ng-view class="row">
            <div class="col-sm-4 col-sm-offset-4" style="margin-top:40px;">
                <img src="{{ asset('bundles/flowercore/images/loading.gif') }}" alt="Loading..."/>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var templateId = "{{ mailtemplate.id }}";
    </script>
    <script src="{{ asset('bundles/flowercore/js/plugins/events.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowercore/js/angular/sortable.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowermarketing/plugin/jscolor/jscolor.js') }}" type="text/javascript"></script>


    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>

    <script src="{{ asset('bundles/flowermarketing/plugin/ng-ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/flowermarketing/plugin/ngDraggable.js') }}"></script>
    <script src="{{ asset('bundles/flowermarketing/js/angular/templateBuilder/app-templateBuilder.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/flowermarketing/js/angular/templateBuilder/controller/templateBuilderController.js') }}"
            type="text/javascript"></script>

    <script type="text/javascript">
        CKEDITOR.config.filebrowserBrowseUrl = "{{ path('elfinder') }}";
        CKEDITOR.config.language = 'es';
    </script>
{% endblock %}
