{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'MailTemplate'}, 'MailTemplate') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerMarketingBundle::appnav-campaignmail.html.twig", {'app_mailtemplate':true}) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ 'mailtemplate.list'|trans({}, 'MailTemplate') }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ '%entity% creation'|trans({'%entity%': 'MailTemplate'}, 'MailTemplate') }}</h3>
            </div>
            <div class="box-body">
                {{ form_start(form, {action: path('mailtemplate_create')}) }}
                {{ form_widget(form) }}
                <p>
                    <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'MailTemplate') }}</button>
                </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">

                <div class="btn-group record_actions">


                </div>

            </div>
        </div>
    </section>
{% endblock %}
