{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'CampaignMail'}, 'CampaignMail') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('campaignmail_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'CampaignMail')}} <i class="fa fa-sort-down"></i></a>
                {% elseif sort.type == 'ASC' %}
                <a href="{{ path('campaignmail_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'CampaignMail')}} <i class="fa fa-sort-up"></i></a>
                {% endif %}
            {% else %}
            <a href="{{ path('campaignmail_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'CampaignMail')}} <i class="fa fa-sort"></i></a>
            {% endif %}
        {% endspaceless %}
    {% endmacro %}

{% from _self import thead %}


{% block body %}
    <section class="content-header">
        <h1>{{ 'CampaignMail' | trans({}, 'CampaignMail')}}</h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ '%entity% list'|trans({'%entity%': 'CampaignMail'}, 'CampaignMail') }}</h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-link btn-xs" href={{ path('campaignmail_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'CampaignMail'}, 'CampaignMail') }}
                    </a>
                    <a class="btn btn-link btn-xs" href={{ path('contactlist') }}>
                        <i class="fa fa-users"></i> {{ 'contactlists'|trans|capitalize }}
                    </a>
                    <a class="btn btn-link btn-xs" href={{ path('mailtemplate') }}>
                        <i class="fa fa-users"></i> {{ 'tamplates'|trans|capitalize }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{{ thead('campaignmail', 'name', 'Name') }}</th>
                            <th scope="col">{{ thead('campaignmail', 'status', 'Status') }}</th>
                            <th scope="col">{{ thead('campaignmail', 'created', 'Created') }}</th>
                            <th scope="col">{{ 'Actions'|trans({}, 'CampaignMail') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaignmail in paginator %}
                            <tr>
                                <td><a href="{{ path('campaignmail_show', {id: campaignmail.id}) }}">{{ campaignmail.name }}</a></td>
                                <td>
                                    {% if campaignmail.status == 'status_finished' %}
                                        <i class="fa fa-check"></i>
                                    {% elseif campaignmail.status == 'status_in_progress' %}
                                        <i class="fa fa-play"></i>
                                    {% else %}
                                        <i class="fa fa-pause"></i>
                                    {% endif %}
                                </td>
                                <td>{% if campaignmail.created %}{{ campaignmail.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-default btn-sm" href="{{ path('campaignmail_show', {id: campaignmail.id}) }}">
                                            <i class="fa fa-file-o"></i> {{ 'show'|trans({}, 'CampaignMail') }}
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>

    </section>

{% endblock %}
