{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Contact'}, 'Contact') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerMarketingBundle::appnav-campaignmail.html.twig", {'app_contactlist':true}) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ '%entity% creation'|trans({'%entity%': 'Contact'}, 'Contact') }}</h1>
    </section>        
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                {{ form_start(form, {action: path('contactlist_contact_create', {id: contactList.id})}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'Contact') }}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">
                        
        <div class="btn-group record_actions">


        </div>

            </div>
        </div>
    </section>
{% endblock %}
