{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}ContactList - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        {{ include("FlowerMarketingBundle::appnav-campaignmail.html.twig", {'app_contactlist':true}) }}
        <div class="box">
            <div class="box-header">
                <h2 class="box-title">{{ contactlist.name|capitalize }}</h2>
                <div class="box-tools">
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_edit', {id: contactlist.id}) }}">
                        {{ 'edit'|trans|capitalize }}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_validate', {id: contactlist.id}) }}">
                        {{ 'validate'|trans|capitalize }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-condensed">
                            <tr>
                                <td>Status</td>
                                <td>
                                    {{status|trans({},'ContactList')}}
                                </td>
                            </tr>
                            <tr>
                                <td>Last validation date</td>
                                <td>{{ contactlist.lastValidation|date("D M Y H:i") }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>

        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h4 class="box-title"></h4>
                <div class="box-tools">
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_contact_new', {id: contactlist.id}) }}">
                        <i class="fa fa-plus"></i> {{'create contact'|trans|capitalize}}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_import', {id: contactlist.id}) }}">
                        <i class="fa fa-plus"></i> {{'import'|trans|capitalize}}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_imports', {id: contactlist.id}) }}">
                        <i class="fa fa-upload"></i> {{'imports'|trans|capitalize}}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ "Action"|trans|capitalize }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="#">{{ "unsuscribe"|trans|capitalize }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#" >{{ "move to list"|trans|capitalize }}</a>
                            <ul class="dropdown-menu">
                                {% for list in availablelists %}
                                    <li>
                                        <a href="#" class="bulk-move" data-id="{{list.id}}" >{{ list|capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">{{ "copy to list"|trans|capitalize }}</a>
                            <ul class="dropdown-menu">
                                {% for list in availablelists %}
                                    <li>
                                        <a href="#" class="bulk-copy" data-id="{{list.id}}" >{{ list|capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{ 'Firstname'|trans }}</th>
                            <th scope="col">{{ 'Lastname'|trans }}</th>
                            <th scope="col">{{ 'Email'|trans }}</th>
                            <th scope="col">{{ 'Address'|trans }}</th>
                            <th scope="col">{{ 'Phone'|trans }}</th>
                            <th scope="col">{{ 'EmailGrade'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <td><input type="checkbox" value="{{contact.id}}" name="contacts[]" class="bulk-check" ></td>
                                <td>
                                    <a href="{{ path('contact_show', {id: contact.id}) }}">{{ contact.firstname }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('contact_show', {id: contact.id}) }}">{{ contact.lastname }}</a>
                                </td>
                                <td>
                                    <a href="{{ path('contact_show', {id: contact.id}) }}">{{ contact.email }}</a>
                                </td>
                                <td>{{ contact.address }}</td>
                                <td>{{ contact.phone }}</td>
                                <td>{{ contact.emailGrade }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="box-footer">

            </div>

        </div>

    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var rootPath = "{{ path('dashboard') }}";
        var bulkMove = "{{ path('contactlist_bulk_move',{'id':contactlist.id}) }}";
        var bulkCopy = "{{ path('contactlist_bulk_move',{'id':contactlist.id}) }}";

        $(".bulk-move").click(function () {
            var contactListIdDest = $(this).attr("data-id");
            var contactIds = [];
            $("input.bulk-check:checked").each(function () {
                contactIds.push($(this).val());
            });

            $.ajax({
                "url": bulkMove,
                "type": "post",
                "data": {"list_dest": contactListIdDest, "contacts": contactIds},
                "success": function () {
                    location.reload();
                }
            });

        });
        $(".bulk-copy").click(function () {
            var contactListIdDest = $(this).attr("data-id");
            var contactIds = [];
            $("input.bulk-check:checked").each(function () {
                contactIds.push($(this).val());
            });
            $.ajax({
                "url": bulkCopy,
                "type": "post",
                "data": {"list_dest": contactListIdDest, "contacts": contactIds},
                "success": function () {
                    location.reload();
                }
            });

        });
    </script>
{% endblock%}
