{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}ContactList - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        {{ include("FlowerMarketingBundle::appnav-campaignmail.html.twig", {'app_contactlist':true}) }}
        <div class="box">
            <div class="box-header">
                <h2 class="box-title">{{ contactlist.name|capitalize }}</h2>
                <div class="box-tools">
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_edit', {id: contactlist.id}) }}">
                        {{ 'edit'|trans|capitalize }}
                    </a>

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-condensed">
                            <tr>
                                <td>Status</td>
                                <td>
                                    {% if status == 'status_validation_needed' %}
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ status|trans({},'ContactList') }}
                                        <a class="btn btn-warning btn-xs"
                                           href="{{ path('contactlist_validate', {id: contactlist.id}) }}">
                                            {{ 'validate now'|trans({},'ContactList')|capitalize }}
                                        </a>
                                    {% else %}
                                        {{ status|trans({},'ContactList') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Last validation date</td>
                                <td>{{ contactlist.lastValidation|date("D M Y H:i") }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>

        </div>

        <div class="box box-solid">
            <div class="box-header">
                <h4 class="box-title"></h4>
                <div class="box-tools">
                    <button class="btn btn-link btn-xs" onclick="openModal()">
                        <i class="fa fa-plus"></i> {{ 'findContactsModal'|trans|capitalize }}
                    </button>
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_contact_new', {id: contactlist.id}) }}">
                        <i class="fa fa-plus"></i> {{ 'create contact'|trans|capitalize }}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_import', {id: contactlist.id}) }}">
                        <i class="fa fa-plus"></i> {{ 'import'|trans|capitalize }}
                    </a>
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_imports', {id: contactlist.id}) }}">
                        <i class="fa fa-upload"></i> {{ 'imports'|trans|capitalize }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        {{ "Action"|trans|capitalize }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu multi-level">
                        <li><a href="#">{{ "unsuscribe"|trans|capitalize }}</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-submenu">
                            <a href="#">{{ "move to list"|trans|capitalize }}</a>
                            <ul class="dropdown-menu">
                                {% for list in availablelists %}
                                    <li>
                                        <a href="#" class="bulk-move" data-id="{{ list.id }}">{{ list|capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="#">{{ "copy to list"|trans|capitalize }}</a>
                            <ul class="dropdown-menu">
                                {% for list in availablelists %}
                                    <li>
                                        <a href="#" class="bulk-copy" data-id="{{ list.id }}">{{ list|capitalize }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>

                <div id="contact-list"></div>

            </div>
            <div class="box-footer">

            </div>

        </div>

    </section>
    <div class="modal fade" tabindex="-1" role="dialog" id="findContactsModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{{ 'find contacts' }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Cuenta</label>
                                    <select id="accountsSel" class="form-control" onchange="loadContacts()"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Actividad</label>
                                    <select id="accountsSel" class="form-control" onchange="loadContacts()"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Asignado</label>
                                    <select id="accountsSel" class="form-control" onchange="loadContacts()"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Results</h4>
                            <select id="find-filter-result" multiple="multiple" class="form-control"
                                    style="height: 300px;">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="addToList()">Add to list</button>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var rootPath = "{{ path('dashboard') }}";
        var bulkMove = "{{ path('contactlist_bulk_move',{'id':contactlist.id}) }}";
        var bulkCopy = "{{ path('contactlist_bulk_copy',{'id':contactlist.id}) }}";
        var addContactsToList = "{{ path('contactlist_add_contacts',{'id':contactlist.id}) }}";
        var getContacts = "{{ path('flower_api_marketing_contactlist_findcontactsby',{'id':contactlist.id}) }}";
        $(".bulk-move").click(function () {
            var contactListIdDest = $(this).attr("data-id");
            var contactIds = [];
            $("input.bulk-check:checked").each(function () {
                contactIds.push($(this).val());
            });

            $.ajax({
                "url": bulkMove,
                "type": "post",
                "data": {"list_dest": contactListIdDest, "contacts": contactIds},
                "success": function () {
                    location.reload();
                }
            });

        });
        $(".bulk-copy").click(function () {
            var contactListIdDest = $(this).attr("data-id");
            var contactIds = [];
            $("input.bulk-check:checked").each(function () {
                contactIds.push($(this).val());
            });
            $.ajax({
                "url": bulkCopy,
                "type": "post",
                "data": {"list_dest": contactListIdDest, "contacts": contactIds},
                "success": function () {
                    location.reload();
                }
            });

        });

        function loadContacts() {
            var accountId = $("#accountsSel").val();
            $.ajax({
                'url': rootPath + "p/api/clients/contacts/account/" + accountId,
                'success': function (contacts) {
                    var htmlVal = "";
                    for (var i = 0; i < contacts.length; i++) {
                        var contact = contacts[i];
                        htmlVal += '<option value="' + contact.id + '">';
                        htmlVal += contact.firstname + ' ' + contact.lastname;
                        htmlVal += '</option>';
                    }
                    $("#find-filter-result").html(htmlVal);
                }
            });
        }

        function addToList() {
            var contactIds = $("#find-filter-result").val();
            $.ajax({
                "url": addContactsToList,
                "type": "post",
                "data": {"contacts": contactIds},
                "success": function () {
                    $('#findContactsModal').modal('hide');
                },
                "error": function () {
                    alert("algo esta mal");
                }
            });

        }

        function openModal(){
            $('#findContactsModal').modal('show');

        }

    </script>
    <script src="{{ asset('bundles/flowercore/js/react.js') }}"></script>
    <script src="{{ asset('bundles/flowercore/js/react-dom.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script src="{{ asset('bundles/flowercore/js/bundle.js') }}"></script>
    <script src="{{ asset('bundles/flowermarketing/js/contactList/ContactList.js') }}" type="text/babel"></script>
    <script src="{{ asset('bundles/flowermarketing/js/contactList/ContactListApp.js') }}" type="text/babel"></script>

{% endblock %}