{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}ContactList - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerMarketingBundle::appnav-campaignmail.html.twig", {'app_contactlist':true}) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>
            {{ contactlist.name|title }}
        </h1>
    </section>
    <section class="content">
        <div class="box">
            <div class="box-header">
                <h2 class="box-title"></h2>
                <div class="box-tools">
                    <a class="btn btn-link btn-xs" href="{{ path('contactlist_edit', {id: contactlist.id}) }}">
                        {{ 'edit'|trans|capitalize }}
                    </a>

                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-condensed">
                            <tr>
                                <td>{{'Status'| trans({},"ContactList")}}</td>
                                <td>
                                    {% if status == 'status_validation_needed' %}
                                        <i class="fa fa-exclamation-triangle"></i>
                                        {{ status|trans({},'ContactList') }}
                                        <a class="btn btn-warning btn-xs"
                                           href="{{ path('contactlist_validate', {id: contactlist.id}) }}">
                                            {{ 'validate now'|trans({},'ContactList')|capitalize }}
                                        </a>
                                    {% else %}
                                        {{ status|trans({},'ContactList') }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>{{'Last validation date'| trans({},"ContactList")}}</td>
                                <td>{{ contactlist.lastValidation|date("smallDate"| trans) }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="box box-solid" multi-app="contactList">
                    <div id="contactApp" ng-view></div>
                    <toaster-container></toaster-container>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box box-solid">

                </div>
            </div>

        </div>


    </section>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var rootPath = "{{ path('dashboard') }}";
        var importUrl = "{{ path('contactlist_import', {id: contactlist.id}) }}";
        var importSUrl = "{{ path('contactlist_imports', {id: contactlist.id}) }}";
        var bulkMoveUrl = "{{ path('contactlist_bulk_move',{'id':contactlist.id}) }}";
        var bulkCopyUrl = "{{ path('contactlist_bulk_copy',{'id':contactlist.id}) }}";
        var addContactsToList = "{{ path('contactlist_add_contacts',{'id':contactlist.id}) }}";
        var createContact = "{{ path('contactlist_contact_new', {id: contactlist.id}) }}";
        var getContacts = "{{ path('flower_api_marketing_contactlist_findcontactsby',{'id':contactlist.id}) }}";
        var getAccounts = "{{ path('flower_api_clients_account_findall') }}";
        var getAvailablesContactLists = "{{ path('flower_api_marketing_contactlist_availables') }}";
    </script>

    <script src="{{ asset('bundles/flowercore/js/plugins/events.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/flowermarketing/js/angular/contactList/app-contactList.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/flowermarketing/js/angular/contactList/controller/contactListController.js') }}"
            type="text/javascript"></script>



{% endblock %}