{% extends 'FlowerCoreBundle::base.html.twig' %}

{% block title %}{{ 'unsuscribe'|trans|capitalize }} - {{ parent() }}{% endblock %}

{% block wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <section class="content-header">
                <h1>{{ 'unsuscribe'|trans|capitalize }}</h1>
            </section>
            <section class="content">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'unsuscribe'|trans }}</h3>
                    </div>
                    <div class="box-body">
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for key, message in messages %}
                                <div class="alert alert-{{ type }}">
                                    {{ message|trans }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
